*.lock
*.log
*.gen
*.zip
*.index
*.snap
*.resources
*.prefs
*.launch
*.xml
*.xmi
*.txt
*.dat
*.png
*.history
*.cfs
*.running
*.properties
*.ini
*.class
*.gitignore
/src/.metadata/.mylyn/.taskListIndex/segments_1
/src/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/src/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
/src/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
/src/.metadata/.plugins/org.eclipse.m2e.core/nexus/845b06ab682930e770ff51d772806d4c/segments_2
